:root {
  --white: #d0dae3;
  --black: #0d0922;
  --primary-one: #f46005;
  --primary-two: #eb00d3;
  --primary-three: #421c8c;
  --secondary-one: #da7a05;
  --secondary-two: #d20201;
  --secondary-three: #63dae3;
  --neutral-one: #644f04;
  --neutral-two: #805b4a;
  --neutral-three: #ac8370;
  --green: #4caf50;
  --sky-blue: #87ceeb;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
