@import 'vars';

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--black);
}
.fixed-nav {
  position: fixed;
  background-color: var(--white);
  border-bottom: none;
  z-index: 1;
  top: 0;
  width: 100%;
}
.menu {
  display: none;
}
.nav-logo {
  color: var(--black);
  cursor: pointer;
}
.nav-logo:hover {
  transition: var(--transition-fast);
  color: var(--primary-one);
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 70px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--black);
  margin-left: 15px;
  cursor: pointer;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  transition-duration: var(--transition-fast);
  color: var(--primary-one);
}
.navbar-email {
  cursor: pointer;
  color: var(--black);
  font-size: var(--sm);
  margin-right: 12px;
}
.navbar-email:hover {
  color: var(--black);
  transition-duration: var(--transition-fast);
  color: var(--primary-one);
}
.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--secondary-two);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  color: var(--white);
  align-items: center;
}

.dark-mode-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  background-color: var(--white);
  border-radius: 10px;
}
.dark-mode-container img {
  cursor: pointer;
}

@media (max-width: 810px) {
  .menu {
    display: block;
    cursor: pointer;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
}
