@import 'vars';

.Menu {
  width: 150px;
  height: auto;
  border: 1px solid var(--black);
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 60px;
  right: 50px;
  background-color: var(--white);
}
.Menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Menu ul li {
  text-align: end;
}

.Menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--black);
}
.Menu ul li:last-child a {
  color: var(--black);
  font-size: var(--sm);
}
.Menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}
.Menu ul li a:hover {
  transition: var(--transition-fast);
  color: var(--primary-one);
}
.dark-mode-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.dark-mode-container img {
  cursor: pointer;
}
