@use 'vars';

.MyOrder {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  background-color: var(--black);
  top: 60px;
  bottom: 0;
  border-radius: 6px;
  border: 1px, solid var(--black);
  z-index: 1;
}
.MyOrder p {
  color: var(--white) !important;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
  background-color: var(--black) !important;
}

.primary-button {
  background-color: var(--primary-one) !important;
  border-radius: 8px;
  border: none;
  color: var(--white) !important;
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.primary-button:hover {
  transition: var(--transition-fast) !important;
  color: var(--black) !important;
}
@media (max-width: 640px) {
  .MyOrder {
    width: 100%;
  }
}
